out/
blurredlines/bin/
blurredlines/gen/
gfx/bin/
gfx/gen/
sun/bin/
sun/gen/
wallpaper/bin/
wallpaper/gen/
demo/bin/
demo/gen/
shared/bin/
shared/gen/
.idea/workspace.xml
.idea/artifacts/YourVeryOwnSun.xml
*~
