<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cxa.lineswallpaper">
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.software.live_wallpaper"/>
    <application android:icon="@drawable/thumbnail" android:label="@string/app_name">
        <service
                android:label="@string/wallpaper_lines"
                android:name="com.ghisguth.blurredlines.Wallpaper"
                android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/main"/>
        </service>
        <activity
                android:label="@string/wallpaper_settings"
                android:name="com.ghisguth.blurredlines.WallpaperSettings"
                android:exported="true">
        </activity>
    </application>
</manifest>
